extends layout

block content
    h1 #{project.name}

    p
        a(href=project.user.url) #{project.user.full_name}

    hr
    p
        a(href=project.url + '/update') Edit project
    p
        a.text-danger(href=project.url+'/delete') Delete project
