extends layout

block content
    h1 #{project.name}

    p
        a(href=project.user.url) #{project.user.full_name}

    h2 Code

    h3 HTML
    textarea(name="html_code")
        | #{project.html_code}

    h3 CSS
    textarea(name="css_code")
        | #{project.css_code}

    h3 JS
    textarea(name="js_code")
        | #{project.js_code}

    hr
    p
        a(href=project.url+'/delete') Delete project
    p
        a(href=project.url + '/update') Update project